body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
h1, h2 {
    text-align: center;
}
.header {
    background-color:  #730f73;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    padding: 20px 20px;
    position: relative;
    border-radius : 5px;
  }
.logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
.main-nav {
    list-style: none;
    padding: 20;
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-right: 5%;
}
.main-nav li {
    margin: 0 15px;
}
.main-nav a {
    color: white;
    text-decoration: none;
}
.main-nav a:hover {
    background-color:rgb(176, 35, 164);
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}
.main-nav a.active {
    font-weight: bold;
}
