<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<!--favicon-->
     <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
     <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
     <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='css/task.css') }}">

    <title>Create Task</title>

</head>
<body>
    <header class="header">
        <h1 class="logo"><a href="/">Task Manager</a></h1>
        <ul class="main-nav">
            <li><a href="/">Overview</a></li>
            <li><a href="/task" class="active">Create</a></li>
            <li><a href="/calendar">Calendar</a></li>
        </ul>
    </header>

    <h1>Create Task</h1>
    <form id="taskForm" method="POST" action="/create" > 
        <input type="text" name="title" id="title" placeholder="Task Title" required>
        <input type="text" name="description" id="description" placeholder="Task Description" required>
        <input type="date" name="date" id="date" required>
        <label for="start_time">Start Time:</label>
        <input type="time" name="start_time" id="start_time" required>
        <label for="end_time">End Time:</label>
        <input type="time" name="end_time" id="end_time" required>
        <button type="submit">Create Task</button>
    </form>

<br>
<h3>Edit Task</h3>
<div id="taskList">
 {% if tasks %}
    <ul>
        {% for task in tasks %}
            <li>
                <div>
                    <strong>{{ task['title'] }}</strong><br>
                    <span>{{ task['description'] }}</span><br>
                    <span>Date: {{ task['date'] }}</span><br>
                    <span>Time: {{ task['time'] }}</span><br>
 <a href="{{ url_for('edit_task', task_id=task['_id']) }}" class="edit-button">Edit</a>
                </div>
            </li>
        {% endfor %}
    </ul>
 {% else %}
        <p>No tasks available.</p>
    {% endif %}
        </div>
</div>

</body>
</html>

